<nav class="main-header">
  <%= link_to "Explore", { controller: "mods", action: "index"}, class: "hover-darker-1" %>
  <%= link_to "Editor", { controller: "mods", action: "new"}, class: "hover-darker-1" %>
  <% unless @current.user %>
    <%= link_to "Sign In", { controller: "sessions", action: "new"}, class: "hover-darker-1" %>
    <%= link_to "Sign Up", { controller: "users", action: "new"}, class: "hover-darker-1" %>
  <% else %>
    <%= link_to "Profile", user_path(@current.user.username), class: "hover-darker-1" %>
  <% end %>
</nav>