<!DOCTYPE html>
<html>
  <head>
    <title>PenCalc Tool</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "colors" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "jquery-3.7.1.min" %>
    <!-- yield :head -->
    <%= yield :head %>
  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
